:root {
  /* For the dialog */
  --white: #FFFFFFff;
  --khaki: #BCAB8Eff;
  --russet: #7E491Dff;
  --beige: #F5DEB3ff;
  --dark: #333;

  --ratio: 3.74;
  --cta-color: rgb(0, 102, 254);
  --light-color-bg: rgb(238, 241, 247);
  --dark-color-bg: rgb(55, 65, 81);
  --grey-color: rgb(107, 114, 128);
  --leading: 0.025em;
}

dialog {
  border-radius: 1rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
  margin: auto;
  font-size: 0.9rem;
  background-color: #ffffff;
  opacity: 1;
  background-image:  radial-gradient(#000000 0.75px, transparent 0.75px), radial-gradient(#000000 0.75px, #ffffff 0.75px);
  background-size: 30px 30px;
  background-position: 0 0,15px 15px;
  border: 7px solid rgb(170, 170, 170);
}

dialog img {
  display: block;
  max-width: 75%;
  margin: auto;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

.h1 {
  margin: 2rem 0 1rem;
  font-weight: 900;
}

.h2 {
  margin: 2rem 3rem 1rem;
  color: var(--dark);
  /* font-weight: 800; */
}

.dialogDesc {
  color: var(--khaki);
}

dialog p {
  color: var(--grey-color);
  letter-spacing: var(--leading, 0.025em);
  line-height: 1.625;
  margin: 1rem 3rem 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.flex-space-between {
  justify-content: space-between;
  margin-top: 1.5rem;
}

.flex button {
  margin: 8px auto;
}

.crownIcon {
  transition: 0.3s transform ease-out;
}

.crownIcon:hover {
  transform: rotate(0.05turn) scale(1.05);
}

.myForm {
  margin: 20px;
}

.myForm input {
  margin: 10px;
  margin-left: 25px;
  padding: 10px;
  border-radius: 1rem;
  background-color: rgba(223, 223, 223, 0.291);
  transition: 0.3s all ease;
  border: 2px solid var(--dark);
  outline: none;
}

.myForm input:focus {
  background-color: rgb(223, 223, 223);
}

.myForm label {
  margin-left: 28px;
}

.myForm input:invalid {
  border-color: rgb(141, 48, 48);
}

.myForm input:valid {
  border-color: rgb(39, 119, 39);
  background-color: rgb(223, 223, 223);
}

.myForm input:hover {
  transform: scale(1.03);
}

.myForm button {
  transition: 0.3s all ease;
  cursor: pointer;
}

.myForm button:hover {
  transform: scale(1.03);
}

button {
  display: block;
  margin-top: 2rem;
  width: calc(44px * var(--ratio));
  height: 44px;
  border-radius: 1rem;
  border: none;
  letter-spacing: calc(3 * var(--leading, 0.025em));
  font-family: inherit;
  color: var(--grey-color);
  background-color: var(--light-color-bg);
  font-size: large;
  /* font-weight: 700; */
}

button:focus {
  outline: none;
  border: 0.0625rem solid transparent;
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
}

button.cta {
  background-color: var(--cta-color);
  color: white;
}

button.cta:focus {
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
}

.closeButton {
  width: 100px;
  background-color: rgb(223, 223, 223);
  color: var(--dark);
  border: 2px solid var(--dark);
}

.confirmButton {
  width: 100px;
  background-color: rgb(223, 223, 223);
  color: var(--dark);
  border: 2px solid var(--dark);
}
